{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Resumme - Dashboard</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

    <!--Core CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/app-dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.min.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111339121-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-111339121-1');
    </script>
    {% include 'cookies-policies.html' %}


</head>
<body>     <!-- Main sidebar menu -->
<nav class="main-menu">
    <div class="main-menu-inner">
        <!-- Side icon menu -->
        <ul>
            <li class="main-logo">
                <a href="{% url 'landing' %}"><img src="{% static 'images/favicon.png' %}" alt=""></a>
            </li>
            <li class="main-logo">
                <a href="{% url 'dashboard_home' %}"><i class="sl sl-icon-home"></i></a>
            </li>
            <li class="main-logo">
                <a href="{% url 'dashboard_timeline' %}"><i class="sl sl-icon-notebook"></i></a>
            </li>
            <li class="main-logo">
                <a href="{% url 'provider_list' %}"><i class="sl sl-icon-graduation"></i></a>
            </li>
        </ul>
        <!-- /Side icon menu -->
    </div>
</nav>
<!-- Top Navbar -->
<nav class="navbar dashboard-nav has-shadow">
    <div class="container is-fluid">
        <!-- Nav left -->
        <div class="navbar-brand">
            <!-- Logout button -->
            <a href="{% url 'logout' %}">
            <div class="navbar-item nav-icon logout-button">
                <i class="sl sl-icon-power"></i>
            </div>
            </a>
            <!-- /Logout button -->

            <!-- Reader mode switch -->
            <div class="navbar-item reader-switch is-hidden-desktop is-hidden-tablet">
                <div class="field">
                    <input id="reader-mode-switch" type="checkbox" name="reader-mode-switch"
                           class="switch is-outlined is-primary is-small">
                    <label id="reader-mode-toggle" for="reader-mode-switch"></label>
                </div>
            </div>
            <!-- Reader mode switch -->
        </div>
        <!-- /Nav left -->

    </div>
</nav>
<!-- /Top Navbar -->

<!-- Main dashboard container -->
<div id="dashboard-wrapper" class="columns">
    <div class="column"></div>
    <div class="content column is-11">

        <!-- Dashboard Wrapper -->
        <div class="dashboard-wrapper">

            {% block dashboard_content %}{% endblock %}
        </div>
        <!-- /Dashboard Wrapper -->
    </div>
    <div class="column"></div>
</div>
<!-- /Main dashboard container -->
<!-- /Main -->
<!-- Reminder Modal -->
<!-- Concatenated jQuery and plugins -->
<script src="{% static 'js/app-dashboard.js' %}"></script>

<!-- Bulkit js -->
<script src="{% static 'js/components-modals-dashboard.js' %}"></script>
<script src="{% static 'js/components-quickview.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>

<!-- Extensions js -->
<script src="{% static 'js/projects.js' %}"></script>
<script src="{% static 'js/datatable.js' %}"></script>
<!-- Texteditor -->
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script>
    var beamer_config = {
        product_id: "MaPhGeio3216", //DO NOT CHANGE: This is your product code on Beamer
        button_position: 'bottom-right' /*Position for the default notification button. Other possible values are 'bottom-left', 'top-left' and 'top-right'.*/
    };
    tinymce.init({
        selector: 'textarea',
        height: 500,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor textcolor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code help wordcount'
        ],
        toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css']
    });
</script>
<script type="text/javascript" src="https://app.getbeamer.com/js/beamer-embed.js" defer="defer"></script>
</body>
</html>
