{% extends 'dashboard/base.html' %}
{% block dashboard_content %}

<div class="columns">
    <div class="column">
        <!-- Main content -->
        <div id="main-dashboard" class="section-wrapper">
            <!-- Widgets -->
            <div class="columns dashboard-columns">
                <div class="column is-12">
                    <!-- Widget -->
                    <div class="flex-card light-bordered light-raised mt-25">
                        <h3 class="card-heading">Create a new timeline item!</h3>
                        <div class="card-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form }}
                                <div class="mt-20 has-text-right">
                                    <button type="submit" class="button btn-align info-btn  raised btn-outlined rounded">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /Widget -->
                </div>
            </div>
            <!-- /Widgets -->
        </div>
        <!-- /Main content -->
    </div>
    <!-- /Main view -->
</div>

{% endblock %}