{% extends 'auth/base-auth.html' %}
{% load i18n %}

{% block form %}
    <div id="login-card" class="animated preFadeInLeft fadeInLeft">
        <div class="flex-card clean-login-card">
            <h2 class="text-bold dark-text">{% trans 'Reset Password' %}</h2>
            <h3>{% trans 'To reset your password, please provide your Resume username.' %}</h3>
            <form method="post" class="pt-10 pb-10" id="form">
                {% csrf_token %}
                {{ form.as_p }}
            </br>
                <button type="submit" class="button button-cta btn-align primary-btn is-fullwidth rounded raised no-lh">
                    {% trans 'Submit' %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}