{% extends 'auth/base-auth.html' %}
{% load i18n %}

{% block form %}
    {% if validlink %}
        <div id="login-card" class="animated preFadeInLeft fadeInLeft">
            <div class="flex-card clean-login-card">
                <h2 class="text-bold dark-text">{% trans 'Insert new Password' %}</h2>
                <br method="post">{% csrf_token %}
                {{ form.new_password1.errors }}
                <div class="form-group">
                    <label for="id_new_password1">{% trans 'New password:' %}</label>
                    {{ form.new_password1 }}
                </div>
                {{ form.new_password2.errors }}
                <div class="form-group">
                    <label for="id_new_password2">{% trans 'Repeat new password:' %}</label>
                    {{ form.new_password2 }}
                </div>
                </br>
                <button type="submit"
                        class="button button-cta btn-align primary-btn is-fullwidth rounded raised no-lh">
                    {% trans 'Change password' %}
                </button>
                </form>
            </div>
        </div>
    {% else %}
        <div id="login-card" class="animated preFadeInLeft fadeInLeft">
            <div class="flex-card clean-login-card">
                <p>
                    {% blocktrans %}
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}