{% extends 'auth/base-auth-reloaded.html' %}

{% block title %}Resum - Log in{% endblock %}
{% block auth_form %}
  <div class="card-body px-lg-5 py-lg-5">
    <div class="text-center text-muted mb-4">
      <small>Sign up with credentials</small>
    </div>
    <form role="form" id="auth_form" method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <div class="alert alert-default" role="alert" id="username_helper">
        Your public profile will be available in </br> www.resum.me/<span>your_username</span></br></br> <strong>Your username can not have spaces or any special character</strong>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-world"></i></span>
          </div>
          <input class="form-control" placeholder="Custom URL" id="id_username" type="text" name="username"  required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
          </div>
          <input class="form-control" placeholder="Email" id="id_email_address" type="email" name="email"  required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
          </div>
          <input class="form-control" placeholder="Password" id="id_password1" type="password" name="password1"  required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
          </div>
          <input class="form-control" placeholder="Repeat password" id="id_password2" type="password" name="password2"  required>
        </div>
      </div>
                            {% for field in form %}
                                {% if field.errors %}
            <div class="alert alert-danger mt-3" role="alert">
                <small><strong>{{ field.label }}:</strong> {{ field.errors }}</small>

</div>
                                {% endif %}
                            {% endfor %}
      <div class="row my-4">
        <div class="col-12">
          <div class="custom-control custom-control-alternative custom-checkbox">
            <input class="custom-control-input" id="legalCheckRegister" type="checkbox" name="legal_terms" required>
            <label class="custom-control-label" for="legalCheckRegister">
                <a>I accept the <a href={% url 'legal_terms' %} target="_blank">conditions of use and contracting</a> and the <a href={% url 'legal_privacy_policy' %} target="_blank">politics of privacy policy</a>
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-primary mt-4" onclick="document.getElementById('auth_form').submit();">Create account</button>
      </div>
    </form>
  </div>

{% endblock %}