{% extends 'auth/base-auth.html' %}

{% block title %}Resum - Log in{% endblock %}
{% block content %}
<!-- Hero and nav -->
<div class="hero hero-wavy is-relative is-light-grey huge-pb">

    {% include 'core/navbar.html' with is_profile=False %}
    <!-- Hero -->
    <div id="main-hero" class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-vcentered pt-50 pb-50">

                <!-- Signup form -->
                <div class="column is-5 is-offset-2 z-index-2">
                    <div id="signup-card" class="animated preFadeInLeft fadeInLeft">
                        <div class="flex-card clean-signup-card">
                            <h2 class="has-text-centered text-bold">Sign up</h2>
                            {% for field in form %}
                                {% if field.errors %}
                                    <small class="tag is-danger is-medium"> {{ field.label }} - {{ field.errors }}</small>
                                {% endif %}
                            {% endfor %}
                            <form method="post" class="auth-form" id="form">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}" />
                                <div class="control-material is-secondary">
                                    <input class="material-input" id="id_username" type="text" name="username"  required>
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Nickname *</label>
                                </div>
                                <div class="control-material is-secondary">
                                    <input class="material-input" id="id_email_address" type="email" name="email"  required>
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Email</label>
                                </div>
                                <div class="control-material is-secondary">
                                    <input class="material-input" id="id_password1" type="password" name="password1"  required>
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Password *</label>
                                </div>
                                <div class="control-material is-secondary">
                                    <input class="material-input" id="id_password2" type="password" name="password2"  required>
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Confirm password *</label>
                                </div>
                                <label class="checkbox">
                                  <input type="checkbox" name="legal_terms" required>
                                    I accept the <a href={% url 'legal_terms' %} target="_blank">conditions of use and contracting</a> and the <a href={% url 'legal_privacy_policy' %} target="_blank">politics of privacy policy</a>
                                </label>
                                <div class="pt-20 pb-20">
                                    <button class="button button-cta btn-align secondary-btn is-fullwidth rounded raised no-lh" onclick="document.getElementById('form').submit();">Get started now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Signup form -->

                <!-- Signup features -->
                <div class="column is-4 z-index-2">
                    <div class="flex-card signup-context secondary-card light-raised padding-40 is-hidden-mobile">
                        <h2 class="title is-4 is-landing-light has-text-centered light-text">What you get</h2>
                        <!-- Icon block -->
                        <div class="argument">
                            <div class="icon">
                                <i class="im im-icon-Timer-2"></i>
                            </div>
                            <div class="argument-text light-text">
                                An awesome resume in just a few minutes
                            </div>
                        </div>
                        <!-- Icon block -->
                        <div class="argument">
                            <div class="icon">
                                <i class="im im-icon-Laptop-Phone"></i>
                            </div>
                            <div class="argument-text light-text">
                                Free personal website under resum.me domain
                            </div>
                        </div>
                        <!-- Icon block -->
                        <div class="argument pb-40">
                            <div class="icon">
                                <i class="im im-icon-Arrow-Around"></i>
                            </div>
                            <div class="argument-text light-text">
                                Resume dynamically updated with your latest courses made on your favourite online schools                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Signup features -->
            </div>
        </div>
    </div>
    <!-- /Hero image -->
</div>
<!-- /Hero and nav -->
{% include 'core/footer.html' %}
{% endblock %}