{% extends 'core/base-reloaded.html' %}
{% load static web_tags i18n %}
{% block content %}
<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                         {% if profile.avatar and profile.avatar.url %}
                            <img src="{{ profile.avatar.url }}" class="rounded-circle">
                        {% else %}
                                                <img src="{% static 'images/avatar_placeholder.png' %}" class="rounded-circle">
                        {% endif %}

                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  <a href="#" class="btn btn-sm btn-info mr-4"><i class="fa fa-2x fa-linkedin-square"></i> Linked-in</a>
                  <a href="#" class="btn btn-sm btn-default float-right mr-1"><i class="fa-2x fa fa-github"></i></a>
                  <a href="#" class="btn btn-sm btn-default float-right mr-1"><i class="fa-2x fa fa-facebook"></i></a>
                  <a href="#" class="btn btn-sm btn-default float-right mr-1"><i class="fa-2x fa fa-twitter"></i></a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">{{ courses.all | length }}</span>
                    <span class="description">Total Courses</span>
                  </div>
                  <div>
                    <span class="heading">{{ courses | length }}</span>
                    <span class="description">Total Skills</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-5">
              <h3>{{ profile.full_name }}</h3>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{ profile.description }}</div>
            </div>
            <div class="mt-5 py-5 border-top">
              <div class="row">
                <div class="col-lg-10 offset-lg-1">
                  <p>{{ profile.resume|safe }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% if timeline %}
  <section class="section">
    <div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4>Timeline</h4>
			<ul class="timeline">
                {% for item in timeline %}
				<li>
					<a>{{ item.title }}</a>
					<a class="float-right">{{ item.start_date }} {% if item.end_date %}- {{item.end_date}} {% endif %}</a>
					<p>{{ item.description }}</p>
				</li>
              {% endfor %}
			</ul>
		</div>
	</div>
</div>

  </section>
  {% endif %}
  {% if courses.all %}
  <section class="section">
    <div class="container">
	<div class="row">
        <div class="col-md-10 offset-md-1" ><div class="card shadow">
            <div class="card-header border-0">
              <span class="h3 mb-0">Courses</span>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                  <tbody>
                                  {% for course in courses.all %}

                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a class="avatar rounded-circle mr-3">
                          <img src="{{ course.badge }}">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ course.title }}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{ course.provider }}
                    </td>
                    <td><button type="button" href="{{ course.url }}" class="btn btn-outline-primary btn-sm btn-block">More info</button></td>
                  </tr>
                                  {% endfor %}

                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="...">

              </nav>
            </div>
          </div></div>
	</div>
</div>

  </section>
  {% endif %}
  </main>
{% endblock %}