django==2.0
Pygments==2.2.0
raven==6.9.0
requests==2.18.4
gunicorn==19.9.0
psycopg2-binary
Pillow==8.2.0
django-taggit==0.23.0
django-extensions==2.1.0
raven==6.9.0
lxml==4.2.3
html5lib==1.0.1
beautifulsoup4==4.6.3
gevent==1.4.0
django-storages==1.7.1
google==2.0.1
google-cloud-storage==1.11.0
django-webpack-loader==0.6.0
pytz==2018.7
djangorestframework==3.11
drf_yasg
whitenoise