<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm pt-4">
          <h5 class="title">RESUM.ME</h5>
          <p><a href="{% url 'landing' %}">Home</a></p>
          <p><a href="{% url 'dashboard_home' %}">Dashboard</a></p>
          <p><a href="{% url 'login' %}">Log in</a></p>
          <p><a href="{% url 'signup' %}">Sign up</a></p>
        </div>
        <div class="col-sm pt-4">
          <h5 class="title">Legal</h5>
          <p><a href="{% url 'legal_terms' %}">Terms and conditions</a></p>
          <p><a href="{% url 'legal_privacy_policy' %}">Privacy policy</a></p>
        </div>
        <div class="col-sm pt-4">
<div>
  <div class="mb-3">
    <a type="" class="btn rounded-circle btn-icon-only btn-icon btn-primary" href="https://www.instagram.com/resummeapp/"><i class="fa fa-instagram"></i></a>
    <a type="" class="btn rounded-circle btn-icon-only btn-icon btn-primary" href="https://twitter.com/resummeapp"><i class="fa fa-twitter"></i></a>
    <a type="" class="btn rounded-circle btn-icon-only btn-icon btn-primary" href="https://github.com/resumme/resum.me"><i class="fa fa-github"></i></a>
  </div>
  <p>Coded with <i class="fa fa-heart" style="color:red;"></i> in Majorca</p>
  <p>Proudly hosted by <a href="https://cloud.bluekiri.com/"><img class="img-fluid ml-1" style="max-height:30px;"src="https://storage.googleapis.com/bluekiri-kiri-pro-resumme-static/static/images/logos/logo_bluekiri.svg" alt=""></a></p>
</div>
        </div>
      </div>
    </div>
  </footer>